* {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
}

label {
  display: block;
}

input {
  padding: 0.25rem;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: rgb(207, 207, 207);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
}

.container {
  padding-top: 10vh;
}

.header {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}
.header .add-book-btn {
  padding: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.header .add-book-btn:hover {
  background-color: rgb(168, 255, 131);
}

.library {
  border-radius: 1rem;
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #fff;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.library .library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
}
.library .library-grid-item {
  text-align: center;
  font-size: 1.75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.library .library-grid-item .book-item-author {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.library .library-grid-item .book-item-read {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  color: white;
  background-color: rgb(137, 137, 137);
  border-radius: 0.25rem;
}
.library .library-grid-item .book-item-read:hover {
  background-color: rgb(124, 124, 124);
}
.library .library-grid-item .book-item-remove {
  background-color: rgb(249, 118, 118);
  cursor: pointer;
  font-size: 0.5rem;
  padding: 0.25rem;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.add-book-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2.5rem;
  max-width: 200px;
  max-height: 275px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

.modal-backdrop {
  visibility: hidden;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.25rem;
}
.form-item label {
  font-size: 1.5rem;
}
.form-item input[type=checkbox] {
  width: 20px;
  height: 20px;
  align-self: center;
}

.submit-book-modal-btn {
  border-radius: 0.25rem;
  font-weight: 600;
  padding: 1rem;
  background-color: rgb(168, 255, 131);
  align-self: center;
  cursor: pointer;
}

.exit-modal-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  padding: 0.65rem;
  background-color: rgb(255, 90, 90);
  color: white;
  border-top-left-radius: 1rem;
}/*# sourceMappingURL=style.css.map */